/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-color: #2196f3;
	--title-text-color: #ffffff;
	--footer-contacts-text: rgba(255, 255, 255, 0.6);
	--temporary-background-color: rgba(81, 7, 86, 0.25);
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	background: var(--temporary-background-color);
}

/* Container */
.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	outline: 1px solid blue;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/*Header Logo WEB-STUDIO*/
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
}
.logo-web {
	color: var(--accent-color);
}
.navigation-logo {
	color: var(--primary-text-color);
	text-decoration: none;
}
.navigation-logo:hover,
.navigation-logo:focus {
	color: #2196f3;
}

/*Header Navigation Menu*/
.navigation {
	padding-top: 24px;
}
.navigation-menu-link {
	font-weight: 500;
	color: var(--primary-text-color);
	text-decoration: none;
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
	color: #2196f3;
}

.current {
	color: #2196f3;
}

/*Header Contacts*/
.contacts-link {
	font-weight: 500;
	color: #757575;
	text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
	color: #2196f3;
}

/*Section Hero*/
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.364;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--title-text-color);
	margin-top: 0px;
	margin-bottom: 30px;
}

.btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	display: inline-block;
	align-items: center;
	text-align: center;
	border-radius: 4px;
	border: none;
	padding: 10px 32px;
	min-width: 200px;
}

/*Section titles*/
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	letter-spacing: 0.03em;
	margin: 0px;
}

.section-vertical-padding {
	padding-top: 94px;
	padding-bottom: 94px;
}

/*Section main work principles*/
.principle-list-item-title {
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 10px;
}
.principle-list-item-text {
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	margin: 0px;
}

/*Section What we do*/
.whatwedo-list-item-title {
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
	margin: 0px;
}
/*Section Our team*/
.ourteam-list-item-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.188;
	letter-spacing: 0.03em;
}
.ourteam-list-item-text {
	font-size: 16px;
	line-height: 1.188;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

/*Footer Logo Address and contacts*/
.footer {
	background: #2f303a;
	text-align: center;
	padding-top: 60px;
}
.footer-logo-stidio {
	color: var(--title-text-color);
}
.footer-address-info {
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-top: 20px;
	margin-bottom: 9px;
}
.footer-contacts-info {
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--footer-contacts-text);
	text-decoration: none;
	margin-bottom: 9px;
}

.footer-join {
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
}

/*Portfolio bottoms*/
.btn-portfolio {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background: #f5f4fa;
	border-radius: 4px;
	padding: 6px 22px;
	border: none;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
	background-color: var(--accent-color);
	color: var(--title-text-color);
}

/*Portfolio content*/
.portfolio-list-item-link {
	color: var(--primary-text-color);
	text-decoration: none;
}
.content-portfolio-list-item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.content-portfolio-list-item-point {
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
.content-portfolio-list-item-pop-up-text {
	font-size: 18px;
	line-height: 1.556;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}
